# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/

# Data
data/*.parquet
data/*.csv
!data/branches.csv
!data/departments.csv
!data/signatories.csv
!data/grades.csv

# PDF / Temp
*.pdf
scratch/
.DS_Store
